*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

/*!------HEADER------*/


header nav img{
    height: 70px;
}

.bg-menu{
    background-color: rgb(255, 121, 32);
}

.btn-outline-success{
    color: rgb(255, 121, 32);
    background-color: rgb(255, 255, 255);
    border: none;
    
}

li .nav-link{
    color: white;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    
}

/*!------MAIN------*/
/*?----INDEX----*/
.hero{
    height: 400px;
    background-image: url("../img/Portada.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.presentacion{
    height: 600px;
    display: flex;
    justify-content: space-around;
    
}



h1{
    color: rgb(255, 121, 32);
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    margin: 40px;
    display: flex;
    align-items: center;
}


.presentacion img{
    width: 55%;
    margin: 30px;
}

.d-flex{
    background-color: rgb(255, 121, 32);
    padding: 50px;
    display: flex;
    justify-content: space-around;
    
    
}

.d-flex h2{
    display: flex;
    justify-content: center;
    color:white;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;  
    align-items: center;
    

}

.card{
    border: 2px solid white;
    margin: 50px;
    align-items: center;
    height: 640px;
    display: flex;
    justify-content: space-around;
    height: 550px;
}




.d-flex div a{
    background-color: rgb(255, 121, 32) ;
    color: white;
    padding: 8px;
    border: none;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    
    
}
.d-flex div h5{
    color: rgb(255, 121, 32);
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;

}



.ubicacion{
    display: flex;
    justify-content: space-around;
}

.texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ubicacion h2{
    color: rgb(255, 121, 32);
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    
    
}
.ubicacion p{
    color: black;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    margin: 30px;
    
    
}

.ubicacion img{
    height: 700px;
    margin-left: 20px;
    display: flex;
    margin: 50px;
    
    
}
.ubicacion a{
    background-color: rgb(255, 121, 32);
    color: white;
    padding: 8px;
    border-radius: 10px;
    
}

/*?----BICICLETAS----*/

.bicicletas div div div {
    border: 1px solid orange ;
    width: 340px;
    margin: 15px;
    height: 300px;
    text-align: center;
    border-radius: 15px;
}
.mountain{
    display: flex;
    justify-content: space-around;
}
.urbana{
    display: flex;
    justify-content: space-around;
}
.e-bikes{
    display: flex;
    justify-content: space-around;
}
.bicicletas a img{
    height: 250px;
    

}
.bicicletas h2{
    color: white;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    margin: 40px;
    background-color: rgba(255, 121, 32, 0.719);
    height: 40px;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
}
.bicicletas div p{
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    background-color: rgba(241, 105, 14, 0.507);
    height: 30px;   
}
.bicicletas div div a{
    display: flex;
    justify-content: center;
    
}


/*?----ACCESORIOS----*/



.accesorios div{
    /*--display: flex;
    justify-content: space-around;--*/
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 1fr;
    gap: 15px;
    


    
}
.accesorios h2{
    display: flex;
    justify-content: center;
    
    color: white;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    background-color: rgba(255, 121, 32, 0.719);
    height: 40px;
    padding: 5px;
    border-radius: 10px;
    margin: 50px;
    

}

.tarjeta-accesorios{
    border: 1px solid orange;
    width: 300px;
    margin: 25px;
    border-radius: 15px;
    margin-bottom: 50px;
    
    
    
}
.tarjeta-accesorios a img{
    height: 250px;
    width: 250px;
    margin: 15px;
    position: relative;
    
    
}
.descripcion{
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    position: absolute;
    background-color: rgba(241, 105, 14, 0.507);
    padding: 5px;
    width: 18rem;
    border-top-left-radius: 15px;
    border-top-right-radius:15px ;
    

}

/*?----NOSOTROS----*/
.marca{
    height: 650px;
}

.marca h2{
    color: white;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    text-align: center;
    margin: 20px;
    background-color: rgba(255, 121, 32, 0.719);
    height: 40px;
    padding: 5px;
    border-radius: 10px;
}
.marca div{
    display: flex;
    justify-content: space-around;
    
}

.marca div p{
    color: black;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    margin: 20px;
    display: flex;
    align-items: center;
}
.marca div img{ 
    
    height: 300px;
    margin: 20px;
}
/*?----CONTACTO----*/
iframe{
    margin-left: 20px;
    height: 200px;
    width: 100%;
    margin: 30px;
    
}
.informacion{
    display: flex;
    justify-content: space-around;
}
.contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contacto h2{
    color: white;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    text-align: center;
    margin: 30px;
    background-color: rgba(255, 121, 32, 0.719);
    height: 40px;
    padding: 5px;
    border-radius: 10px;  
    width: 500px;  
}
.contacto form{
    color: black;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    margin-left: 20px;   
}
input{
    width: 430px;
    margin: 15px;
    border: 1px solid rgba(255, 121, 32, 0.719);
}
textarea{
    width: 510px;
    height: 300px;
    border: 1px solid rgba(255, 121, 32, 0.719);
    
}
.enviar{
    background-color: rgb(255, 121, 32);
    color: white;
    padding: 8px;
    border-radius: 10px;   
}

.encontranos{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.encontranos h2{
    color: white;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    text-align: center;
    margin: 30px;
    background-color: rgba(255, 121, 32, 0.719);
    height: 40px;
    padding: 5px;
    border-radius: 10px; 
    width: 500px;
}
.encontranos div h3{
    color: black;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    margin-left: 20px;
    text-align: center;

}
.encontranos h4{
    color: black;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    margin-left: 20px;
    margin-top: 10px;
}
.telefono{
    margin-top: 20px;
}

/*!------FOOTER------*/
footer{
    background-color: rgb(255, 121, 32);
    height: 100px;
    display: flex; 
    justify-content: space-between;
    padding: 10px;
}


footer img{
    height: 100px;
}
footer a img{
    height: 40px;
}
.redes{
    margin: 20px;
}

@media screen and (max-width:900px){
    .hero{
        height: 250px;
    }

}
@media screen and (max-width:500px){
    .hero{
        height: 100px;
    }

}


@media screen and (max-width:700px){
    .presentacion img{
        display: none;
    }
}

@media screen and (max-width:1240px){
    .presentacion{
        flex-direction: column;
        height: 80%;
    }
    .presentacion img{
        width: 60%;   
    }
    .presentacion h1{
        font-size: 30px;
        width: 80%;
        text-align: center;
    }
}

@media screen and (max-width:1190px){
    .d-flex{
        flex-direction: column;
        align-items: center;
        padding: 30px;
    }
    .d-flex h2{
        margin: 5px;
        text-align: center;
    }
    .d-flex div{
        margin: 10px;
    }
    
}
@media screen and (max-width:1070px){
    .ubicacion{
        flex-direction: column;
        padding: 50px;
    }
    .imagen{
        display: none;    
    }
    
}

@media screen and (max-width:1628px){
    .accesorios div{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(2,1fr);
        
        
    }
    

}
@media screen and (max-width:1330px){
    .accesorios div{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
    }

}
@media screen and (max-width:1010px){
    .accesorios div{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr);
    }

}
@media screen and (max-width:680px){
    
    .accesorios div{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(5,1fr);
        
    }

}

@media screen and (max-width: 600px){
    footer{
        height: 60px;
    }
    footer a img{
        height: 25px;
        
    }
    footer img{
        height: 60px;
    }
}

header nav ul li a:hover{
    background-color: white;
    padding: 5px;
    color: rgb(255, 121, 32);

}


.card:hover{
    border: 3px solid rgb(255, 255, 255);
}
.d-flex div a:hover{
    background-color: rgb(255, 255, 255) ;
    color: rgb(255, 121, 32);
    border: 1px solid rgb(255, 121, 32);  
}

@media screen and (max-width:900px){
    .ubicacion{
        text-align: center;
    }
}


.btn-outline-success:hover{
    background-color: orangered;
    color: rgb(255, 255, 255);
}

.tarjeta-accesorios:hover{
    border: 3px solid rgb(255, 121, 32);
}
.bicicletas div div div:hover{
    border: 3px solid rgb(255, 121, 32);
}













