@media screen and (max-width:900px){
    .hero{
        height: 250px;
    }

}
@media screen and (max-width:500px){
    .hero{
        height: 100px;
    }

}


@media screen and (max-width:700px){
    .presentacion img{
        display: none;
    }
}

@media screen and (max-width:1240px){
    .presentacion{
        flex-direction: column;
        height: 80%;
    }
    .presentacion img{
        width: 60%;   
    }
    .presentacion h1{
        font-size: 30px;
        width: 80%;
        text-align: center;
    }
}

@media screen and (max-width:1190px){
    .d-flex{
        flex-direction: column;
        align-items: center;
        padding: 30px;
    }
    .d-flex h2{
        margin: 5px;
        text-align: center;
    }
    .d-flex div{
        margin: 10px;
    }
    
}
@media screen and (max-width:1070px){
    .ubicacion{
        flex-direction: column;
        padding: 50px;
    }
    .imagen{
        display: none;    
    }
    
}

@media screen and (max-width:1560px){
    .bicicletas div div div{
        width: 260px;
        height: 220px;
    }
    .bicicletas a img{
        height: 150px;   
    
    }
}
@media screen and (max-width:1560px){
    .bicicletas div div div{
        width: 260px;
        height: 220px;
    }
    .bicicletas a img{
        height: 150px;   
    
    }
    

@media screen and (max-width:1270px){
        .mountain{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: repeat(2,1fr);
            
        }       
    }
@media screen and (max-width:940px){
    .mountain{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        
        
    } 
    .urbana{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);

    }
    .e-bikes{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
    }
    
}

@media screen and (max-width:860px){
    .bicicletas div div div{
        width: 260px;
        height: 220px;
        margin: 10px;
    }
    .bicicletas a img{
        height: 150px;   
    
    }
}
@media screen and (max-width:610px){
    .mountain{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(4,1fr);
        
        
    } 
    .urbana{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(3,1fr);

    }
    .e-bikes{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(3,1fr);
        align-items: center;
    }
    
}


@media screen and (max-width:1628px){
    .accesorios div{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(2,1fr);
        
        
    }
    

}
@media screen and (max-width:1330px){
    .accesorios div{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
    }

}
@media screen and (max-width:1010px){
    .accesorios div{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr);
    }

}
@media screen and (max-width:680px){
    
    .accesorios div{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(5,1fr);
        
    }

}


@media screen and (max-width:1400px){
    .marca{
        height: 450px;
    }
    .taller{
        display: none;
    }
}

@media screen and (max-width:1000px){
    .marca{
        height: 500px;
    }
    
    
}

@media screen and (max-width:920px){
    .marca{
        height: 700px;
    }
    .marca div{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .taller{
        display: none;
    }
    .innovacion{
        display: none;
    }
    
}
@media screen and (max-width:650px){
    .marca{
        height: 400px;
    }
    .marca img{
        display: none;
    }
    
    
}
@media screen and (max-width:600px){
    .marca{
        height: 550px;
    }
    
    
    
}
@media screen and (max-width:400px){
    .marca{
        height: 650px;
    }
    
    
    
}


@media screen and (max-width:1120px){
    .informacion{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 20px;
    }  
    .contacto{
        align-items: center;
        margin-bottom: 20px;
    }      
    
}

@media screen and (max-width:600px){
    
    .contacto h2{
        width: 300px;
    } 
    .contacto textarea{
        width: 420px;
    }
    .contacto{
        text-align: center;
    } 
    .encontranos h2{
        width: 300px;

    }    
    
}

@media screen and (max-width:460px){
    
    .contacto h2{
        width: 300px;
    } 
    .contacto textarea{
        width: 280px;
        height: 200;
    }
    .contacto{
        text-align: center;
    } 
    .encontranos h2{
        width: 300px;
    }  
    input{
        width:300px ;
    }     
}



@media screen and (max-width:600px){
    footer{
        height: 60px;
        .redes a img{
            height: 20px;
        }
        .logo img{
            height: 60px;
        }
    }
    
}
@media screen and (max-width:990px){
    .ubicacion{
        text-align: center;
    }
}
