$color-principal:  rgb(255, 121, 32);
$color-secundario: white;
$color-terciario: orangered;
$color-cuaternario: rgba(241, 105, 14, 0.507);
$color-texto-secundario: rgb(0, 0, 0);
$font-size: 20px, 30px, 40px


